@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

body {
  color: black;
  font-family: "Questrial", sans-serif;
}

::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
